{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Ajouter une catégorie
{% endblock title %}

{% block h1 %}
    Ajouter une catégorie
{% endblock h1 %}

{% block body %}
{# {{ dump(app.flashes('success')) }} #}
{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-center disparition">
    {{ notification }}
</div>
{% endfor %}
    {{ form_start(formCategory) }}
    <div class="col-md-10 mx-auto">
        {{ form_row(formCategory.nom) }}
    </div>
    
    <div class="row justify-content-center">
        <input type="submit" class="btn btn-success mt-3 col-md-6" value="Ajouter">
    </div>

    {{ form_end(formCategory) }}




    <div class=" row justify-content-end">
        <a href=" {{ path('category_afficher') }} " class="btn btn-info p-2 col-md-3 my-5">Retour</a>
    </div>

{% endblock body %}